<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Version Checker</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/logo/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/logo/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="global">

        <div class="sidebar">
            <div class="logo-content">
                <img class="logo center" src="/logo/vc_logo_white.svg" alt="Version Checker logo inspired by NodeJS colors and format. In the center, in white, is the symbol of the black widow representing a crawling bot.">
            </div>

            <div class="menu-list">
                <ul class="nav">
                    <li class="icon-list">
                        <a href="">
                            <img class="icon center" src="/icons/block_white.svg" alt="Card view icon">
                        </a>
                    </li>
                    <!-- <li class="icon-list">
                        <a href="">
                            <img class="icon center" src="/icons/list_white.svg" alt="List view icon">
                        </a>
                    </li> -->
                </ul>
                <ul class="about">
                    <li class="icon-list">
                        <a href="">
                            <img class="icon center" src="/icons/about_white.svg" alt="" class="icon center">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <section class="page-body">
            <div class="cards">
                <% for (var i=0; i < county.length; i++ ) {%>
                    <a href="<%= county[i].url %>" target="_blank">
                        <div id="card">
                            <div class="card-img">
                                <img src="<%= county[i].brasao %>" alt="Brasão Município de <%= county[i].municipio %>">
                            </div>
                            <div class="card-text">
                                <h3 class="card-title"><%= county[i].municipio %></h3>
                                <p class="card-version" data-title="<%= versao_data[i].date %>">
                                    <%= versao_data[i].version %>
                                </p>
                            </div>
                        </div>
                    </a>
                  <% } %>
            </div>
        </section>
    </div>
</body>

</html>