<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Version Checker</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="global">

        <conteiner class="header">
            <div class="header-content"></div>
            <div class="bottom-header-content"></div>
            <div class="bottom-header-line"></div>
        </conteiner>

        <section class="page-body">
            <div class="cards">
                <a href="#" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="<%= county[2].brasao %>" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <!-- Balneário Camboriú -->
                            <h3 class="card-title"><%= county[2].municipio %></h3>
                            <p class="card-version" data-title="<%= versao_data[0].date %>">
                                <%= versao_data[0].version %>
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="<%= county[9].brasao %>" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <!-- Nova Venécia -->
                            <h3 class="card-title"><%= county[9].municipio %></h3>
                            <p class="card-version" data-title="<%= versao_data[1].date %>">
                                <%= versao_data[1].version %>
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="<%= county[12].brasao %>" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <!-- Umuarama -->
                            <h3 class="card-title"><%= county[12].municipio %></h3>
                            <p class="card-version" data-title="<%= versao_data[2].date %>">
                                <%= versao_data[2].version %>
                            </p>
                        </div>
                    </div>
                </a>
                
            </div>
        </section>
    </div>
</body>

</html>